@{
    ViewData["Title"] = "О нас";
}

<h1>О нас</h1>
@section footer
{
    <footer class="border-top footer bg-light">
        <div class="container">
            <span class="text-muted">© 2024 МЕТАЛЛИСТ. Все права защищены.</span>
        </div>
    </footer>
}