@model IEnumerable<MediaFiles>
@{
    ViewData["Title"] = "О нас";
}

<h1>О нас</h1>
<div id="info-container">Loading...</div>
<div class="container">
    <div class="row">
        @if(Model != null)
        {
            @foreach (var item in Model)
            {
                if (item.page_id == 1 && item.File != null)
                {
                    <div class="col-6 col-md-4 col-lg-3 mb-4">
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.File)" class="img-fluid" alt="Изображение">
                    </div>
                }
            }
        }
    </div>
</div>
<script>
    // Запрос данных и вставка в div
    fetch("@Url.Action("GetInfo", "Home", new { id = 1 })")
        .then(response => response.text())
        .then(text => {
            document.getElementById('info-container').innerHTML = text;
        })
        .catch(error => {
            document.getElementById('info-container').innerText = "Error loading information.";
        });
</script>
