@{
    ViewData["Title"] = "Админ панель";
}
@* <h1>Админская панель!</h1>
<a class="nav-link" asp-controller="AdminPanel" asp-action="AddProduct">Добавить продукт</a>
<a class="nav-link" asp-controller="AdminPanel" asp-action="AddCategory">Добавить категорию</a> *@
<div class="container mt-5">
    <h1 class="text-center mb-4">Админская панель</h1>
    <div class="row">
        <div class="col-md-6 mb-3">
            <button type="button" class="btn btn-primary w-100" onclick="location.href='@Url.Action("AddProduct", "AdminPanel")'">Добавить продукт</button>
        </div>
        <div class="col-md-6 mb-3">
            <button type="button" class="btn btn-primary w-100" onclick="location.href='@Url.Action("AddCategory", "AdminPanel")'">Добавить категорию</button>
        </div>
        <div class="col-md-6 mb-3">
            <button type="button" class="btn btn-primary w-100" onclick="location.href='@Url.Action("ViewProducts", "AdminPanel")'">Обзор товаров</button>
        </div>
        <div class="col-md-6 mb-3">
            <button type="button" class="btn btn-primary w-100" onclick="location.href='@Url.Action("ViewCategories", "AdminPanel")'">Обзор категорий</button>
        </div>
        <div class="col-md-6 mb-3">
            <button type="button" class="btn btn-primary w-100">Изменить категории</button>
        </div>
    </div>
</div>