<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Металлист</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="py-2 border-bottom bg-white">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="@Url.Action("GetIcon", "Home", new { id = 1 })" class="card-img-top" alt="...">
            </a>
            <form class="col-12 col-lg-auto mb-2 mb-lg-0" role="search">
                <input type="search" class="form-control form-control-sm" placeholder="Search..." aria-label="Search">
            </form>
        </div>
    </header>
    <nav class="py-0 bg-white border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a asp-action="Products" asp-controller="Home" class="nav-link text-dark px-2">Продукты</a></li>
                <li class="nav-item"><a asp-action="About" asp-controller="Home" class="nav-link text-dark px-2">О нас</a></li>
                <li class="nav-item"><a asp-action="Contact" asp-controller="Home" class="nav-link text-dark px-2">Контакты</a></li>
                <li class="nav-item"><a asp-action="Services" asp-controller="Home" class="nav-link text-dark px-2">Услуги</a></li>
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer class="footer bg-white">
        <div class="container">
            <p class="text-dark">&copy; 2024 ООО"МЕТАЛЛИСТ". Все права защищены.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a asp-controller="Home" asp-action="Products">Каталог</a></li>
                <li class="list-inline-item"><a asp-controller="Home" asp-action="About">О нас</a></li>
                <li class="list-inline-item"><a asp-controller="Home" asp-action="Contact">Контакты</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
